<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>LLTrainer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body style="background-color:gray">

<div class="scramble">
    <svg width="1000" height="100">
        <rect width="1000" height="100" fill="lightgray"></rect>
        <text x="50%" y="25%" dominant-baseline="middle" text-anchor="middle" fill="#000" font-size="20">PLLTrainer v1.3</text>
        <text x="50%" y="75%" dominant-baseline="middle" text-anchor="middle" fill="#000" font-size="20" id="scrambleText"></text>
    </svg>
</div>

<div class="row">
    <div class="timestable">
        <h1 style="text-align: center;">Times</h1>
        <a href="/reset/" style="margin:auto; text-align:center; display:block;">RESET</a>
        <table>
            <tr>
                <th>#</th>
                <th>Time</th>
            </tr>
            {% for time in times %}
                <tr>
                    <td>{{ loop.length - loop.index + 1 }}</td>
                    <td>{{ time.content }}</td>
                    <td>
                        <a href="/delete/{{time.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="stopwatch">
        <h1 id="displayTime">0.00</h1>
        <h3 style="text-align: center;">Space to start/stop, r to reset timer </h3>
    </div>
    <div class="statstable">
        <h1>Statistics</h1>
        <h3>Cases Ranked</h3>
        <table id="statistics-table">
            <tr>
                <th>Rank</th>
                <th>Case</th>
                <th>Time</th>
            </tr>
            {% for rank, (case, time) in sorted_cases %}
                {% if time is not none %}
                    <tr>
                        <td>{{ rank }}</td>
                        <td>{{ pllNames[case] }}</td>
                        <td>{{ time[1] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>



<script>

    let [centiseconds, seconds, minutes, hours] = [0, 0, 0, 0];
    let displayTime = document.getElementById("displayTime");
    let timer = null;
    let running = false;
    let solveEnded = false;
    let isClear = true;
    const pllScrambles = ["B F U2 B F R2 U L2 F2 U R2 U' F2 L2 U' R2 B2 F2", 
                "U R L U2 R' L F2 U B2 U' R2 U2 R2 B2 L2 D B2 D B2", 
                "U' R L F2 R' L' F2 U B2 D' F2 L2 F2 D B2 U R2 U2 F2", 
                "U2 B F D2 B' F D' R2 L2 F2 U B2 L2 D B2 L2 U L2 D'", 
                "U2 F B U2 F' B L2 U' R2 F2 L2 B2 D' F2 D B2 D' R2", 
                "U B F U2 B F' U B2 R2 U R2 U' F2 U B2 U' B2 R2 F2", 
                "U2 F B U2 F B' U L2 U' F2 U L2 D' F2 R2 U' F2 R2 B2", 
                "R L U2 R L' U' B2 R2 U' R2 U R2 B2 D B2 D'", 
                "U' B F D2 B F D2 B2 L2 D2 L2 F2 R2 U2 B2 R2", 
                "U L R U2 L' R U B2 L2 D L2 D' F2 U R2 B2 L2 B2 D",
                "L R U2 L R U F2 U L2 U' B2 F2 R2 U R2 U' F2 D", 
                "U2 L R' U2 L' R U2 B2 R2 U' R2 U2 B2 U R2 U2 R2 B2",
                "B F' U2 B' F U2 R2 B2 U B2 U2 R2 U' B2 U2 B2 R2",
                "U' L R U2 L R' U' L2 R2 F2 U R2 D' L2 B2 F2 D L2",
                "U2 B F U2 B F L2 U' F2 R2 D' F2 D L2 D' R2 F2",
                "U F B L2 F B' U2 F2 U F2 U' R2 B2 U' L2 U B2 D' R2",
                "U' F2 U' R2 F2 R2 U R2 F2 R2 U2 R2 U2 F2 R2 F2 U2 R2",
                "U' B2 D' B2 L2 F2 U L D2 B2 F2 U2 R' B2 L2 U2 F2",
                "L R U2 L R U L2 U2 B2 U' B2 L2 U2 L2 U B2 U2 R2",
                "U F B U2 F B' U' L2 U R2 D' R2 U' B2 D R2 D' L2",
                "B F U2 B F' U L2 B2 L2 U B2 U L2 B2 L2 U B2"
            ];
    var scrambleGenerated = false;
    var currentScramble;
    var index = localStorage.getItem('currentScrambleIndex');

    function generateScramble() {    
        index = Math.floor(Math.random() * 21);
        currentScramble = pllScrambles[index]
        scrambleText.innerHTML = currentScramble;
        localStorage.setItem('scrambleGenerated', 'true');
        localStorage.setItem('currentScramble', currentScramble); 
        localStorage.setItem('currentScrambleIndex', index);

    }

    document.addEventListener("DOMContentLoaded", function () {
        if (localStorage.getItem('scrambleGenerated') !== 'true') {
            generateScramble();
        } else {
            var currentScramble = localStorage.getItem('currentScramble');
            scrambleText.innerHTML = currentScramble;
        }
    });

    function stopwatch(){
        centiseconds++;
        if (centiseconds == 100){
            centiseconds = 0;
            seconds++;
            if (seconds == 60){
                seconds = 0;
                minutes++;
                if (minutes == 60){
                    minutes = 0;
                    hours++;
                }
            }
        }
        let m = minutes < 10 ? "0" + minutes : minutes;
        let s = seconds < 10 ? "0" + seconds : seconds;
        let cs = centiseconds < 10 ? "0" + centiseconds : centiseconds;

        if (hours > 0){
            displayTime.innerHTML = hours + ":" + m + ":" + s + "." + cs;
        } else if (minutes > 0){
            displayTime.innerHTML = minutes + ":" + s + "." + cs;
        } else {
            displayTime.innerHTML = seconds + "." + cs;
        }
    }

    function watchStart(){
        if(timer != null){
            clearInterval(timer);
        }
        timer = setInterval(stopwatch, 10);
    }

    function watchStop(){
        clearInterval(timer);
    }
    
    function watchReset(){
        clearInterval(timer);
        [centiseconds, seconds, minutes, hours] = [0, 0, 0, 0];
        displayTime.innerHTML = "0.00";
        isClear = true;
        if (running){
            running = false;
        }
    }
    
    document.addEventListener("keyup", function(event) {
        if (event.keyCode === 32 && !running && !solveEnded && isClear) {
            watchStart();
            solveEnded = true;
            running = true;
            isClear = false;
        }
        else{
            solveEnded = false;
        }
    });

    document.addEventListener("keydown", function(event) {
        if (event.keyCode === 32 && running) {
            watchStop();
            running = false;
            const time = formatTime(hours, minutes, seconds, centiseconds);
            const centisecondsValue = 360000 * hours + 6000 * minutes + 100 * seconds + centiseconds;

            const form = new FormData();
            form.append("content", time);
            form.append("caseIndex", index);
            form.append("timeValue", centisecondsValue);

            fetch('/update_time', {
                method: 'POST',
                body: form
            });

            addToTable(time);
        }
        if (event.keyCode === 82){
            watchReset();
        }
    });

    function addToTable(time) {
        const table = document.querySelector(".timestable table");
        const row = table.insertRow(1);
        const cell1 = row.insertCell(0);
        const cell2 = row.insertCell(1);
        const cell3 = row.insertCell(2);

        cell1.innerHTML = table.rows.length - 1; 
        cell2.innerHTML = time;
        const deleteLink = document.createElement("a");
        deleteLink.href = `/delete/${table.rows.length - 1}`;
        deleteLink.textContent = "Delete";
        cell3.appendChild(deleteLink);
        generateScramble();
    }

    function formatTime(hours, minutes, seconds, centiseconds) {
        let formattedTime = "";
        if (hours > 0) {
            formattedTime += hours + ":";
        }
        if (minutes > 0 || hours > 0) {
            formattedTime += (minutes < 10 && hours > 0 ? "0" : "") + minutes + ":";
        }
        formattedTime += (seconds < 10 && (minutes > 0 || hours > 0) ? "0" : "") + seconds + "." + (centiseconds < 10 ? "0" : "") + centiseconds;
        return formattedTime;
    }

    function updateStatistics() {
        fetch('/update_statistics', { method: 'GET' })
            .then(response => response.text())
            .then(html => {
                document.getElementById('statistics-table').innerHTML = html;
            });
    }
    setInterval(updateStatistics, 250);
    
</script>

</body>
</html>